<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/board.css" />
  </head>
  <body>
    <div id="top-cover"></div>
    <div id="left-cover"></div>
    <div id="board-container">
      <div id="board-inner-container">
        <button id="deal">Deal Cards</button>
        <button id="hit" class="hidden">Hit</button>
        <button id="stand" class="hidden">Stand</button>
        <button id="double-down" class="hidden">Double down</button>
        <button id="split" class="hidden">Split</button>
        <button id="reset" class="hidden">Reset</button>
        <img id="board" src="../static/img/table.png" alt="" />
        <!-- <div id="current-player" class="hidden"></div> -->
      </div>
    </div>
    <script src="../static/js/board.js"></script>
  </body>
</html>